<style type="text/css">
.footer {
    margin-bottom: -30px;
    height: 300px;
    padding-top: 0px;
}
</style>

<div class="row">
    <div class="jumbotron footer">
        <div class="container">

        </div>
    </div>
</div>