<!DOCTYPE html>
<html>
<head>
    <title>nodeCode</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        .bo-bg1 {
            /*background-color: #FFFFCC;*/
            height: 610px;
            background: url("/images/by-bg001.jpg");
        }
        ._mt{
            margin-top: 160px;
            text-align: center;
        }
    </style>
</head>
<body>
<%include header%>
<div class="row">
    <div class="jumbotron bo-bg1">
        <div class="container _mt">
            <h1>爱生活，爱编程!</h1>
            <p>
                这个世界因你而变得更加美好。
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Let's go</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://www.bootcss.com/p/layoutit/img/people.jpg" alt="...">
                <div class="caption">
                    <h3>冯诺尔曼结构</h3>
                    <p>
                        也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。
                        程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Button</a>
                        <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://www.bootcss.com/p/layoutit/img/sports.jpg" alt="...">
                <div class="caption">
                    <h3>冯诺尔曼结构</h3>
                    <p>
                        也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。
                        程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Button</a>
                        <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="http://www.bootcss.com/p/layoutit/img/sports.jpg" alt="...">
                <div class="caption">
                    <h3>冯诺尔曼结构</h3>
                    <p>
                        也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。
                        程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。
                    </p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a>
                        <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%include footer%>
</body>
</html>
